<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict/>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>610EA8E61CC96C16007A5EB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>610EA8FA1CC96C17007A5EB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>610EA9051CC96C17007A5EB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
